  body,h1,h2,h3,h4,h5,h6 {font-family: "Poppins", sans-serif}
  body, html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    color:black;
  }

  .w3-bar .w3-button {
    padding: 16px;
  }
  /* Defaults */
  .glassx {
      background: rgba(233, 234, 239, 0.9);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      /* border: 1px solid rgba(255, 255, 255, 0.7);*/
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(3, 37, 67);
    /* background-image:url('public/img/sports4.png');
    background-size:contain;
    background-blend-mode: lighten; */
  }

  .glass3 {

  }

  .glass2 {
  }
  .glass-border{
    border:none;
    border-radius: 0;
  }
  .hidden{
    display:none !important;
  }
  .border-left{
    border-left:1px solid rgb(22, 2, 2);
  }
  .border-right{
    border-right:1px solid rgb(33, 2, 2);
  }
  .grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main main right'
      'menu footer footer footer footer footer';
    gap: 10px;
    background-color: white;
    padding: 10px;
    opacity:1;
  }
  .item2 { grid-area: menu; }
  .item3 { grid-area: main; }
  .item4 { grid-area: right; }

  .sponsorBlock{
    min-width:144px;
    text-align:center;
  }
  .inputs {
    -webkit-text-stroke-color: darkgray;
    border-bottom: #211f1f solid 1px;
  }
  .w3-dodgerblue{
    background-color: rgb(234, 237, 241);
  }
  .padd48 {
    padding:48px;
  }
  .defaultMargins{
    margin-left: 16px;
    margin-right: 16px;
  }
  .item2 > button{
    letter-spacing: 2px;
  }
  .sponsorImage{
    width: 110px;
    height: auto;
  }
  header>h2{
    text-decoration: underline;
  }
    .w3-text-white, .w3-hover-text-white:hover {
        color: #211f1f !important;
    }
    .w3-underline{
        text-decoration: underline;
    }
    .w3-color{
        color: black;
    }
    .w3-backcolor{
        background: dodgerblue;
    }
  i{
    cursor: pointer;
  }
.w3-panel{
    position:relative;
}
.grid4{
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.grid3{
    grid-template-columns:1fr 1fr 1fr;
    align-items:center;
}
.w3-main-container{
    padding:16px 16px;
}
 /* Mobile overrides */
@media (max-width: 500px){
    .grid4{
        grid-template-columns:1fr 1fr;
    }
    .grid3{
        grid-template-columns:1fr ;
    }
    .w3-main-container{
        padding:16px 2px;
    }
    .mobileHide, .w3-badge{
        display:none !important;
    }
    .padd48{
        padding:2px;
    }
}
@media (min-width: 501px) and (max-width: 1023px){

}
@media (min-width: 1024px) and (max-width: 1200px){

}