/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* button */
::-webkit-scrollbar-button {
background: #FDF5E6;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: khaki;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ffc107;
}

/* Track */
::-webkit-scrollbar-track {
background: #FDF5E6;
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
background: #000;
}

/* Corner */
::-webkit-scrollbar-corner {
background: #ffc107;
}

/* Resizer */
::-webkit-resizer {
background: #FDF5E6;
}  